h2{
    width: 90%;
    background-color: blueviolet;
    top: 0;
    margin: 0;
}
h2:hover{
    width: 100%;
    background-color: rgb(62, 21, 100);
    color: cornsilk;
    transition: 0.5s linear;
}
body{
    background-size: cover;
    background-position: right;
}
#dumdum{
    bottom: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-image: url("backgroung.jpg");
    line-height: 1;
    background-color: brown;
}
canvas{
    border: 5px ridge white;
    box-shadow: 5px 10px 5px black;
    margin-top: 15px;
}
#dumdums{
    bottom: 14;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    background-image: url("backgroung.jpg");
    line-height: 1;
    background-color: brown;
}